<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="schema" connectionString="metadata=res://*/dadoscp.csdl|res://*/dadoscp.ssdl|res://*/dadoscp.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PTINBR-PC001744\DADOSCP;Initial Catalog=dadoscp;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="dadoscp" connectionString="metadata=res://*/dados.csdl|res://*/dados.ssdl|res://*/dados.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PTINBR-PC001744\DADOSCP;Initial Catalog=dadoscp;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>